<div class="nav">
        <a class="logo">AppleForum</a>
        <a href="/write">Write</a>
        <a href="/List">List</a>
    </div> 


<!-- 관계: nav.ejs는 재사용 가능한 네비게이션 컴포넌트입니다. nav.ejs를 수정하면 이를
      포함하는 모든 EJS 페이지(list.ejs, detail.ejs 등)에 변경 사항이 반영 -->